#stacks_in_95_page2 {
	margin: 0px;
	padding: 2px;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #666;
}

#stacks_in_97_page2 .stacks_left {
	float:left;
	width:40%;
}

#stacks_in_97_page2 .stacks_right {
	float:right;
	width:40%;
}

#stacks_in_97_page2 .stacks_middle {
	position:absolute;
	width:20%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 0px;
	left: auto;
	right: 40%;
}
#stacks_in_99_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_101_page2 {
	margin: 0px;
	padding: 2px;
}

#stacks_in_104_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_106_page2 {
	margin: 0px;
	padding: 2px;
}

#stacks_in_109_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_97_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_113_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_115_page2 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_115_page2 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_115_page2 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_117_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_119_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_122_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_124_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_127_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_115_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_111_page2 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}
